@model b2c_ms_graph.UserModel
@using System.Security.Claims;

@{
    ViewBag.Title = "Create User";

    var gcustomerNumber = ClaimsPrincipal.Current.Claims.Where(w => w.Type == "extension_CustomerNumber").Select(s => s.Value).FirstOrDefault();
    var gwebRole = ClaimsPrincipal.Current.Claims.Where(w => w.Type == "extension_WebRole").Select(s => s.Value).FirstOrDefault();
    Boolean filterCustomer = (gwebRole != "1");

}

@Html.ValidationSummary(true)

@(Html.Kendo().Form<b2c_ms_graph.UserModel>()
    .Name("CreateUser")
    .HtmlAttributes(new { action = "", method = "POST" })
    .Validatable(v =>
     {
       v.ValidationSummary(vs => vs.Enable(true));
     })
    .Items(items =>
    {
        items.AddGroup()
        .Label("Create User")
        .Items(i =>
        {
            i.Add()
        .Field(f => f.extension_39d2bd21d67b480891ffa985c6eb1398_CompanyId)
        .Label(l => l.Text("Company:"))
            .Editor(e =>
            {
                e.ComboBox()
                .Name("extension_39d2bd21d67b480891ffa985c6eb1398_CompanyId")
                .DataTextField("displayName")
                .DataValueField("id")
                .HtmlAttributes(new { style = "width:100%" })
                .AutoBind(true)
                .Events(ev => ev.Change("changeCompany"))
                .DataSource(s => s.Read(r => r.Action("GetCompanies", "Company")).ServerFiltering(true));
            });
            i.Add()
        .Field(f => f.DisplayEmailName)
        .Label(l => l.Text("Email Address:"));
            i.Add()
        .Field(f => f.DisplayName)
        .Label(l => l.Text("Display Name:"));
            i.Add()
        .Field(f => f.extension_39d2bd21d67b480891ffa985c6eb1398_CustomerNumber)
        .Label(l => l.Text("Customer:"))
            .Editor(e =>
            {
                e.ComboBox()
            .Name("extension_39d2bd21d67b480891ffa985c6eb1398_CustomerNumber")
            .DataTextField("displayName")
            .DataValueField("number")
            .HtmlAttributes(new { style = "width:100%" })
            .AutoBind(true)
            .DataSource(s => s.Read(r => r.Action("GetCustomers", "Customer").Data("getCompanyId")).ServerFiltering(true));
            });
            i.Add()
        .Field(f => f.newPassword)
        .Label(l => l.Text("Password:"));
            i.Add()
        .Field(f => f.confirmPassword)
        .Label(l => l.Text("Confirm Password:"));
            i.Add()
        .Field(f => f.forcePasswordChange)
        .Label(l => l.Text("Force Password Change:"));
            //.Editor(e => e.Switch().Name("forcePasswordChange"));
            i.Add()
            .Field(f => f.DisplayAccountEnabled)
            .Label(l => l.Text("Enable Account:"));
            //.Editor(e => e.Switch().Name("DisplayAccountEnabled"));

        });
    })
    )


<script>
    $(document).ready(function () {
        $("#newPassword").attr("type", "password");
        $("#confirmPassword").attr("type", "password");

    });


    //function onFormValidateField(e) {
    //    debugger;
    //    $("#validation-success").html("");
    //}

    //function onFormSubmit(e) {
    //     e.preventDefault();
    //    $("#validation-success").html("<div class='k-messagebox k-messagebox-success'>Form data is valid!</div>");
    //}

    //function onFormClear(e) {
    //    $("#validation-success").html("");
    //}


    function getCompanyId() {

        return { CompanyId: $('#extension_39d2bd21d67b480891ffa985c6eb1398_CompanyId').val() };
    }

    function changeCompany(e) {

        $('#extension_39d2bd21d67b480891ffa985c6eb1398_CustomerNumber').data('kendoComboBox').dataSource.read();
    }

</script>
