@using b2c_ms_graph;
@using System.Security.Claims

@{
    ViewBag.Title = "Users";
    var gcustomerNumber = ClaimsPrincipal.Current.Claims.Where(w => w.Type == "extension_CustomerNumber").Select(s => s.Value).FirstOrDefault();
    var gwebRole = ClaimsPrincipal.Current.Claims.Where(w => w.Type == "extension_WebRole").Select(s => s.Value).FirstOrDefault();
    bool filterCustomer = (gwebRole != "1");
}

<h2>Users</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-18 col-md-12">
            @(Html.Kendo().Grid<UserModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.DisplayName);
            columns.Bound(p => p.extension_39d2bd21d67b480891ffa985c6eb1398_CustomerNumber).Title("Customer Number").Visible(!filterCustomer);
        })
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .HtmlAttributes(new { style = "height:550px;" })
        .DataSource(dataSource => dataSource
        .Custom()
        .Sort(s => s.Add("DisplayName"))
         .Filter(f =>
            {
                if (filterCustomer)
                {
                    f.Add(a => a.extension_39d2bd21d67b480891ffa985c6eb1398_CustomerNumber).IsEqualTo(gcustomerNumber);
                }
            })
        .Type("odata-v4")
        .Transport(transport =>
        {
            transport.Read(read => read.Url("/oData/Users"));
        })
        .PageSize(20)
        .ServerPaging(true)
        .ServerSorting(true)
        .ServerFiltering(true)
        ))
        </div>
    </div>
</div>
