@model string

@(Html.Kendo().ComboBox()
            .Name("itemNumber")
             .DataTextField("itemNumber")
             .DataValueField("itemNumber")
             .HtmlAttributes(new {style = "width:190px"})
             .Filter("contains")
             .AutoBind(false)
             .MinLength(3)
             .Events(e => e.Select("onSelectItemNo"))
             .DataSource(datasource => datasource
         .Read(r => r.Action("GetItemsByNumber", "Item"))
     .ServerFiltering(true)))


@*@(Html.Kendo().Button()
    .Name("itemlookupButton")
    .Tag("em")
    .SpriteCssClass("k-icon k-i-search")
    .Events(e => e.Click("onItemLookup"))
    .Content("<span class='k-sprite'>Lookup</span>"))*@




@*.DataSource(dataSource => dataSource
    .Custom()
    .Sort(s => s.Add("number"))
               .Type("odata-v4")
    .Transport(transport =>
    {
        transport.Read(read => read.Url("/oData/Items"));

    })
    .PageSize(20)
    .ServerPaging(true)
    .ServerSorting(true)
    .ServerFiltering(true)

    ))*@